@use 'variaveis';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: variaveis.$fontePrincipal;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
